*{
	margin: 0px;
	padding: 0px;
}
#entirety{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
header{
	width: 100%;
	height: 55px;
}
.head-main{
	width: 1000px;
	height: 55px;
	margin: 0px auto;
}
.head-main-logo{
	width: 135px;
	height: 50px;
	float: left;
	
}
.head-main-logo a{
	display: inline-block;
	margin-top: 5px;
	width: 133px;
	height: 44px;
	background: url("https://nie.res.netease.com/comm/nie.topBar/images/logo_b5525b7.png")no-repeat;
}
.head-main-logo2{
	width: 420px;
	height: 56px;
	float: left;
	margin-left: 8px;
}
.head-main-logo2 img{
	width: 420px;
	height: 55px;
}
.head-main-menu{
	float: left;
	margin-left: 60px;
}
.head-main-menu ul{
	list-style: none;
	display: block;
	height: 52px;
}
.head-main-menu li{
	display: inline;
	line-height: 51px;
	margin-left: 17px;
	
}
li:nth-child(3) a{
	color: #bc2e2e;
}
.head-main-menu a{
	text-decoration: none;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #333;
}
section{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	width: 100%;
	height: 1104px;
	background: url("https://xyq.res.netease.com/qt/2015/0505_reg/images/bg_fbc10eb.jpg")no-repeat;
	background-position: center;
	background-position-y:top;
}
section{
	float: left;
	margin-left: 0px;
	margin-top: 0px;
}
article{
	width: 877px;
	height: 780px;
	padding-left: 123px;
    margin: 220px auto;
}
.section-form{
	float: left;
	margin-top: 18px;
	margin-left: 30px;
}
.section-form table{
	width: 210px;
	height: 280px;
}
.section-reg{
	width: 262px;
	height: 35px;
	margin: 10px 0px 0px 25px;
}
.section-form-uname{
	font-size: 24px;
	color:red;
	width: 171px;
	font-family: "微软雅黑";
	border: 0;
	outline: none;
}
.section-form-dw{
	border: 0;
	outline: none;
	width: 96px;
	height: 30px;
	background:#ff7366;
	font-family: "微软雅黑";
	border-radius: 20px;
	color: white;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}
.section-form-email{
	width: 262px;
	height: 44px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.section-form-psw{
	width: 262px;
	height: 44px;
	font-family: "微软雅黑";
	font-size: 14px;
	
	
}
.section-form-reg{
	width: 262px;
	height: 48px;
	background:#ff7366;
	font-family: "微软雅黑";
	font-size: 18px;
	color: white;
	border: 0;
	outline: none;
	
	
}
.section-form-pro{
	width: 261px;
	height: 37px;
	color: #666;
	font-family: "微软雅黑";
	font-size: 12px;
}
