*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}
a{
	color: #000000;
}
#entirety{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	min-width: 1200px;
}

section{
	width: 100%;
	height: 1104px;
	background: url("https://xyq.res.netease.com/qt/2015/0505_reg/images/bg_fbc10eb.jpg")no-repeat;
	background-position: center;
	background-position-y:top;
}
article{
	width: 877px;
	height: 780px;
	margin: 0 auto;
	padding-top: 225px;	
	/*padding-left:153px;*/
}
.section-dw{
	width: 265px;
	height: 44px;
	margin: 22px 0px 0px 157px;
}
.section-dw span{
	font-size: 24px;
	font-family: "微软雅黑";
	color: red;
}
.section-dw a{
	width: 96px;
    height: 30px;
    line-height: 30px;
    float: right;
    text-align: center;
    color: #fff;
    background-color: #ff7366;
    font-size: 16px;
    border-radius: 20px;
    font-family: "微软雅黑";
}
.section-reg{
	width: 262px;
	height: 166px;
	margin: 6px 0px 0px 97px;
	font-family: "微软雅黑";
	
}
.section-reg input{
	left: 0px;
	display: block;
	padding-left: 8px;
	width: 252px;
    height: 42px;
    line-height: 41px;
    border: 0.5px solid #CCCCCC;
    font: 14px/1.14 "Microsoft YaHei","微软雅黑","宋体",helvetica,"Hiragino Sans GB";
}
.reg{
	display: block;
    width: 100%;
    margin-top: 14px;
    height: 44px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #ff7366;
    font-size: 18px;
    line-height: 44px;
}
.section-reg-psw{
	margin-top: 14px;
}
.agree{
	width: 262px;
	height: 40px;
	margin: 10px 0px 0px 99px;
	font-size: 9px;
	font-family: "微软雅黑";
	color: #999;
}
.agree a{
	font-size: 9px;
	font-family: "微软雅黑";
	color: #999;
}
.agree a:hover{
	color: #666;
}
/*用户同意协议*/
#check{
	display: none;
}
.agree span{
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 1px solid #aaa;
    font-size: 12px;
    margin-right: 5px;
}

.agree span::before{  /*::before伪对象，相当于向HTML结构中动态添加的行内元素*/
	content: "";
	width: 6px;
	height: 2px;
	background: lawngreen;
	/*旋转*/
	transform: rotate(45deg);
	float: left;
	margin-top: 7px;
	margin-left: 1px;
	display: none;
}
.agree span::after{  /*::before伪对象，相当于向HTML结构中动态添加的行内元素*/
	content: "";
	width: 11px;
	height: 2px;
	background: lawngreen;
	display: none;
	/*旋转*/
	transform: rotate(-45deg);
	float: right;
	margin-top: -4px;
}
#check:checked ~label span::after,#check:checked ~label span::before{
	display: inline-block;
}


.section-link{
	position: absolute;
	top:965px;
}
.section-link a{
	position: absolute;
    width: 180px;
    height: 49px;
    background: url("../img/spr (1).jpg")no-repeat 0 -61px;
}
.a1{
	left: 305px;
}
.section-link .a2{
	left: 515px;
    background-position: -200px -61px;
}
.section-link .a2:hover{
	background-position: -620px -61px;
}
.section-link .a1:hover{
	background-position: -420px -61px;
}
