/*
 * 选择符：
 *   1、元素选择符/器，直接把元素名当做选择符，比如：div
 *   2、通配符，用*表示，通配符可以选择到所有的元素。
 *   3、类名选择符，用class来定义，类名可以重复使用
 *   4、id选择器，用id来定义，id是唯一的，不能重复使用
 *   .p1{
 * 	  表示选择到了具有p1这个 类名的元素
 * }
 * 
 * font-weight:100~500正常字体粗细
 *             600~900加粗效果
 * font-style:italic,oblique;设置字体斜体
 * line-height:行高
 *             通常会设置1.5倍的行高，这个1.5倍指的是自身字体大小的1.5倍。
 *  font:itali bold 20px/1.5  "微软雅黑"
 * 		（style）（weight）（size/height） (family)
 * 
 *  color:rgb(44,234,44);
 *  opacity:0.5;半透
 *  
 *  background:设置元素的背景图片或者背景颜色
 *  background-color：设置元素的背景颜色
 *  background-image:设置元素的背景图片
 *  background-size：设置背景图片的大小。当只设置一个值的时候，表示只设置了背景图片的宽度，有两个的话，第二个是高度
 *             cover=宽度100%，背景可能会超出容器范围
 *             contain：默认图片大小（将图片等比例的缩放到和容器的高度或宽度相等的大小，只满足一个条件）
 *             
 *  background-repeat：设置背景是否重复出现
 *           no-repeat：不重复
 *  background-position：right bottom将图片定到右下角（可用像素定位，即x,y轴）
 *             left top：左上角
 *             right top：右上角
 *             left  bottom：左下角
 *             center：居中
 * 文字水平对齐方式：text-align
 *          left、right、center
 * 
 * 注意*：当容器里面只有一行文字的时候，设置行高等于高可以使容器里面的文字垂直居中
 * 
 *   cursor:设置光标样式
 *        pointer：小手
 *  
 * */
.btn{
	width: 50px;
	height: 30px;
	border-radius: 10px;
	background: orange;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}
/*伪类效果(元素：hover)
 
 * 即当鼠标放到目标元素上的时候，会触发一些事情
 *  比如改变元素背景颜色
 * 
 * */
.btn:hover{
	background: #6699FF;
}
